body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 75%;
}
.name{
    color: orange;
}
.orange-color{
    color: orange;
}
.link-buttom{
    text-decoration: none;
    color: white;
    width: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5%;
}
.welcome-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    padding: 5px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-ex{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}
#ex{
    margin: 10px;
}
footer p{
    text-align: center;
    color: #383838;
}