body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 75%;
}
.name{
    color: orange;
}
.link-buttom{
    text-decoration: none;
    color: white;
    width: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5%;
}
.welcome-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
