body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 100%;
    padding-top: 10px;
}
.half-width p{
    text-align: justify;
    padding-bottom: 10px;
}
.name{
    color: #6d6d6d;
}
.slider-img{
    padding-top: 200px;
}
.link-buttom{
    text-decoration: none;
    color: white;
    width: 700;
    background-image: linear-gradient(#686868, #000000);
    padding: 10px 40px;
    border-radius: 5%;
}
.welcome-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.p-padding{
    padding-right: 55px;
}
.experience-items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    padding: 5px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.web-dev-ex{
    border-left: 7px solid;
    border-image: linear-gradient(#ffffff, #000000);
    border-image-slice: 1;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
}
.web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(#000000, #ffffff);
    border-image-slice: 1;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
}
.ex{
    margin: 10px;
}
footer p{
    text-align: center;
    color: #383838;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3b3b3b;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}