body{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 75%;
}
.name{
    color: orange;
}