body{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 75%;
}
.name{
    color: orange;
}
.hire-me-buttom{
    text-decoration: none;
    color: white;
    width: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5%;
}